@font-face {
  font-family: 'new-icos';
  src:  url('fonts/new-icos.eot?ew8aad');
  src:  url('fonts/new-icos.eot?ew8aad#iefix') format('embedded-opentype'),
    url('fonts/new-icos.ttf?ew8aad') format('truetype'),
    url('fonts/new-icos.woff?ew8aad') format('woff'),
    url('fonts/new-icos.svg?ew8aad#new-icos') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icos-"], [class*=" icos-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'new-icos' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icos-alert-circle-1:before {
  content: "\b900";
}
.icos-megaphone-1:before {
  content: "\b901";
}
.icos-alarm-bell-ring-1:before {
  content: "\b902";
}
.icos-task-checklist-check-1:before {
  content: "\b903";
}
.icos-touch-password-approved-1:before {
  content: "\b904";
}
.icos-compare-spreadsheet-search-1:before {
  content: "\b905";
}
.icos-Calendar-3:before {
  content: "\b906";
}
.icos-rating-star-ribbon-1:before {
  content: "\b907";
}
.icos-question-help-message:before {
  content: "\b908";
}
.icos-lock-1:before {
  content: "\b909";
}
.icos-Hyperlink-3:before {
  content: "\b90a";
}
.icos-Zoom-In:before {
  content: "\b90b";
}
.icos-Information-Circle:before {
  content: "\b90c";
}
.icos-Login-Keys:before {
  content: "\b90d";
}
.icos-tags-1-1:before {
  content: "\b90e";
}
.icos-Lock-Password:before {
  content: "\b90f";
}
.icos-Seo-Search:before {
  content: "\b910";
}
.icos-Share-External-Link-1:before {
  content: "\b911";
}
.icos-Workflow-Data-Table-Edit:before {
  content: "\b912";
}
.icos-Password-Lock-1:before {
  content: "\b913";
}
.icos-Download-Bottom:before {
  content: "\b914";
}
.icos-Common-File-Search:before {
  content: "\b915";
}
.icos-Credit-Card-1:before {
  content: "\b916";
}
.icos-Road-Sign-Warning:before {
  content: "\b917";
}
.icos-File-Paper-Document:before {
  content: "\b918";
}
.icos-Share-External-Link-2:before {
  content: "\b919";
}
.icos-Cog:before {
  content: "\b91a";
}
.icos-Paper-Write:before {
  content: "\b91b";
}
.icos-Single-Neutral:before {
  content: "\b91c";
}
.icos-Pen-Write-Paper:before {
  content: "\b91d";
}
.icos-Cog-Hand-Give:before {
  content: "\b91e";
}
.icos-Tags-Cash:before {
  content: "\b91f";
}
.icos-Headphones-Customer-Support-Human-1:before {
  content: "\b920";
}
.icos-Headphones-Customer-Support:before {
  content: "\b921";
}
.icos-Time-Weekly-1:before {
  content: "\b922";
}
.icos-Conversation-Chat-Text:before {
  content: "\b923";
}
.icos-credit-card-1:before {
  content: "\b924";
}
.icos-credit-card-visa-1:before {
  content: "\b925";
}
.icos-currency-euro-dollar-exchange-1:before {
  content: "\b926";
}
.icos-accounting-document:before {
  content: "\b927";
}
.icos-cash-payment-person:before {
  content: "\b928";
}
.icos-cash-payment-bill-3:before {
  content: "\b929";
}
.icos-cash-payment-bag-1:before {
  content: "\b92a";
}
.icos-cash-payment-coin-stash:before {
  content: "\b92b";
}
.icos-accounting-coins-2:before {
  content: "\b92c";
}
.icos-performance-increase-1:before {
  content: "\b92d";
}
.icos-workflow-data-table-money:before {
  content: "\b92e";
}
.icos-smartphone-pay-dollar-2:before {
  content: "\b92f";
}
.icos-Currency-Dollar-Increase:before {
  content: "\b930";
}
.icos-Credit-Card-Dollar:before {
  content: "\b931";
}
.icos-Saving-Piggy-Coins-Alternate:before {
  content: "\b932";
}
.icos-Money-Bag-Dollar:before {
  content: "\b933";
}
.icos-Saving-Bag-Increase:before {
  content: "\b934";
}
.icos-Currency-Dollar-Circle:before {
  content: "\b935";
}
.icos-Money-Wallet:before {
  content: "\b936";
}
.icos-Accounting-Bills-1:before {
  content: "\b937";
}
.icos-Cashless-Payment-Online-Transfer-Smartphone-1:before {
  content: "\b938";
}
.icos-trading-investor-1:before {
  content: "\b939";
}
.icos-trading-graph-1:before {
  content: "\b93a";
}
.icos-trading-news-1-1:before {
  content: "\b93b";
}
.icos-performance-money-increase-1:before {
  content: "\b93c";
}
.icos-Customer-Relationship-Management-Asset-Coin:before {
  content: "\b93d";
}
.icos-Customer-Relationship-Management-Referral-Tracking-1:before {
  content: "\b93e";
}
.icos-Startup-Launch-1:before {
  content: "\b93f";
}
.icos-Monetization-Team:before {
  content: "\b940";
}
.icos-Customer-Relationship-Management-List-Document-Share:before {
  content: "\b941";
}
.icos-Check-Shield:before {
  content: "\b942";
}
.icos-Cash-Network:before {
  content: "\b943";
}
.icos-Cash-Search:before {
  content: "\b944";
}
.icos-Monetization-Approve:before {
  content: "\b945";
}
.icos-Online-Learning-Ar-Education-2:before {
  content: "\b946";
}
.icos-School-Teacher-Correct:before {
  content: "\b947";
}
.icos-Online-Learning-Certificate-1:before {
  content: "\b948";
}
.icos-Task-List-Edit:before {
  content: "\b949";
}
.icos-coding-apps-website-apps-stock-trade-1:before {
  content: "\b94a";
}
.icos-Shield-Lock:before {
  content: "\b94b";
}
.icos-wifi-off-1:before {
  content: "\b94c";
}
.icos-laptop-flash-1:before {
  content: "\b94d";
}
.icos-wireless-access-1-1:before {
  content: "\b94e";
}
.icos-Screen-1:before {
  content: "\b94f";
}
.icos-Laptop-Lock-1:before {
  content: "\b950";
}
.icos-Phone:before {
  content: "\b951";
}
.icos-Phone-Mobile-Device-Samsung-1:before {
  content: "\b952";
}
.icos-discount-star-premium-1:before {
  content: "\b953";
}
.icos-tags-1:before {
  content: "\b954";
}
.icos-ticket-1:before {
  content: "\b955";
}
.icos-Shop-1:before {
  content: "\b956";
}
.icos-Discount-Coupon:before {
  content: "\b957";
}
.icos-Shopping-Bag-Check:before {
  content: "\b958";
}
.icos-Avatar-Judo-Athlete-Woman:before {
  content: "\b959";
}
.icos-scooter:before {
  content: "\b95a";
}
.icos-plane-take-off:before {
  content: "\b95b";
}
.icos-plane-on-runway-1:before {
  content: "\b95c";
}
.icos-Plane-Check-In:before {
  content: "\b95d";
}
.icos-Baggage-Plane:before {
  content: "\b95e";
}
.icos-flag-1:before {
  content: "\b95f";
}
.icos-gift-box-1:before {
  content: "\b960";
}
.icos-rating-star-1:before {
  content: "\b961";
}
.icos-Social-Profile-Avatar:before {
  content: "\b962";
}
.icos-restaurant-fork-knife-1:before {
  content: "\b963";
}
.icos-restaurant-eating-set-1:before {
  content: "\b964";
}
.icos-food-restaurant-symbol-spoon-cross-fork-1:before {
  content: "\b965";
}
.icos-music-ticket-1:before {
  content: "\b966";
}
.icos-Multiple-Neutral-2:before {
  content: "\b967";
}
.icos-Maps-Pin-1:before {
  content: "\b968";
}
.icos-Compass-Directions:before {
  content: "\b969";
}
.icos-Pin-Location-2:before {
  content: "\b96a";
}
.icos-Earth-3:before {
  content: "\b96b";
}
.icos-Pin-Star:before {
  content: "\b96c";
}
.icos-Pin-1:before {
  content: "\b96d";
}
.icos-Crafts-Pottery:before {
  content: "\b96e";
}
.icos-ecology-leaf-shield:before {
  content: "\b96f";
}
.icos-Air-Pollution-Mask-1:before {
  content: "\b970";
}
.icos-Worker-Lay-Off-Fired-User-Group:before {
  content: "\b971";
}
.icos-Car-1:before {
  content: "\b972";
}
.icos-social-instagram-1:before {
  content: "\b973";
}
.icos-Social-Media-Facebook-1:before {
  content: "\b974";
}
.icos-Social-Media-Twitter:before {
  content: "\b975";
}
.icos-Biking-Person:before {
  content: "\b976";
}
.icos-network-cash-1:before {
  content: "\b977";
}
.icos-data-transfer-three-back-forth-back:before {
  content: "\b978";
}
.icos-data-transfer-horizontal:before {
  content: "\b979";
}
.icos-wifi-delete-1:before {
  content: "\b97a";
}
.icos-technology-privacy-consent-profile-lock-1-1:before {
  content: "\b97b";
}
.icos-Email-Action-Send-2:before {
  content: "\b97c";
}
.icos-outdoors-tree-valley:before {
  content: "\b97d";
}
.icos-outdoors-tree-road:before {
  content: "\b97e";
}
.icos-tree:before {
  content: "\b97f";
}
.icos-wood-material:before {
  content: "\b980";
}
.icos-army-badge-2-1:before {
  content: "\b981";
}
.icos-controls-play-1:before {
  content: "\b982";
}
.icos-city-safety-shield-building-1:before {
  content: "\b983";
}
.icos-arrow-down1:before {
  content: "\b984";
}
.icos-arrow-up1:before {
  content: "\b985";
}
.icos-arrow-corner-right:before {
  content: "\b986";
}
.icos-arrow-thick-dot-up:before {
  content: "\b987";
}
.icos-arrow-thick-dot-down:before {
  content: "\b988";
}
.icos-weather-night-clear-1:before {
  content: "\b989";
}
.icos-building-1:before {
  content: "\b98a";
}
.icos-viajes_travel:before {
  content: "\b98b";
}
.icos-vip_travel:before {
  content: "\b98c";
}
.icos-restaurantes_travel:before {
  content: "\b98d";
}
.icos-dp_travel:before {
  content: "\b98e";
}
.icos-travel_travel:before {
  content: "\b98f";
}
.icos-espectaculos_travel:before {
  content: "\b990";
}
.icos-cine_travel:before {
  content: "\b991";
}
.icos-descuentos_travel:before {
  content: "\b992";
}
.icos-firmar:before {
  content: "\b993";
}
.icos-tener-tarjeta-2:before {
  content: "\b994";
}
.icos-tener-ahorro:before {
  content: "\b995";
}
.icos-tener-compras:before {
  content: "\b996";
}
.icos-tener-celular:before {
  content: "\b997";
}
.icos-tener-compra:before {
  content: "\b998";
}
.icos-entregar-tarjeta:before {
  content: "\b999";
}
.icos-tener-tarjeta:before {
  content: "\b99a";
}
.icos-tener-seguridad:before {
  content: "\b99b";
}
.icos-bonificacion:before {
  content: "\b99c";
}
.icos-bonificacion-2:before {
  content: "\b99d";
}
.icos-donacion:before {
  content: "\b99e";
}
.icos-donacion-2:before {
  content: "\b99f";
}
.icos-tener-like:before {
  content: "\b9a0";
}
.icos-asistencia_medica:before {
  content: "\b9a1";
}
.icos-tener-check:before {
  content: "\b9a2";
}
.icos-tener-planta:before {
  content: "\b9a3";
}
.icos-trato:before {
  content: "\b9a4";
}
.icos-like:before {
  content: "\b9a5";
}
.icos-mano:before {
  content: "\b9a6";
}
.icos-premiacion:before {
  content: "\b9a7";
}
.icos-premiacion-2:before {
  content: "\b9a8";
}
.icos-sorpresa:before {
  content: "\b9a9";
}
.icos-sorpresa-2:before {
  content: "\b9aa";
}
.icos-festejo:before {
  content: "\b9ab";
}
.icos-deslizar:before {
  content: "\b9ac";
}
.icos-depositar:before {
  content: "\b9ad";
}
.icos-robo-1:before {
  content: "\b9ae";
}
.icos-robo-2:before {
  content: "\b9af";
}
.icos-robo-3:before {
  content: "\b9b0";
}
.icos-recibir-2:before {
  content: "\b9b1";
}
.icos-dar-2:before {
  content: "\b9b2";
}
.icos-recibir:before {
  content: "\b9b3";
}
.icos-dar:before {
  content: "\b9b4";
}
.icos-dar-moneda:before {
  content: "\b9b5";
}
.icos-libre-disponibilidad:before {
  content: "\b9b6";
}
.icos-pagar-tarjeta:before {
  content: "\b9b7";
}
.icos-dar-dinero:before {
  content: "\b9b8";
}
.icos-video-call:before {
  content: "\b9b9";
}
.icos-call-center:before {
  content: "\b9ba";
}
.icos-clave-tarjeta:before {
  content: "\b9bb";
}
.icos-transferencia-web:before {
  content: "\b9bc";
}
.icos-comprobante-web:before {
  content: "\b9bd";
}
.icos-salir:before {
  content: "\b9be";
}
.icos-descargar:before {
  content: "\b9bf";
}
.icos-descargar-2:before {
  content: "\b9c0";
}
.icos-enviar-a:before {
  content: "\b9c1";
}
.icos-recibir-en:before {
  content: "\b9c2";
}
.icos-equalizar:before {
  content: "\b9c3";
}
.icos-equalizar-2:before {
  content: "\b9c4";
}
.icos-equalizar-3:before {
  content: "\b9c5";
}
.icos-chat:before {
  content: "\b9c6";
}
.icos-contacto:before {
  content: "\b9c7";
}
.icos-chat-grupal:before {
  content: "\b9c8";
}
.icos-chat-asistencia:before {
  content: "\b9c9";
}
.icos-chat-asistencia-2:before {
  content: "\b9ca";
}
.icos-face-scan:before {
  content: "\b9cb";
}
.icos-face-scan-2:before {
  content: "\b9cc";
}
.icos-face-scan-3:before {
  content: "\b9cd";
}
.icos-finger-scan:before {
  content: "\b9ce";
}
.icos-filtro:before {
  content: "\b9cf";
}
.icos-investigar:before {
  content: "\b9d0";
}
.icos-monedero:before {
  content: "\b9d1";
}
.icos-folder-descargar:before {
  content: "\b9d2";
}
.icos-folder-inversiones:before {
  content: "\b9d3";
}
.icos-tarjeta-1:before {
  content: "\b9d4";
}
.icos-tarjeta-2:before {
  content: "\b9d5";
}
.icos-tarjeta-bloqueo:before {
  content: "\b9d6";
}
.icos-tarjeta-bloqueo-2:before {
  content: "\b9d7";
}
.icos-tarjeta-bloqueo-3:before {
  content: "\b9d8";
}
.icos-tarjeta-rota:before {
  content: "\b9d9";
}
.icos-tarjetas:before {
  content: "\b9da";
}
.icos-usar-tarjeta:before {
  content: "\b9db";
}
.icos-tarjeta-3:before {
  content: "\b9dc";
}
.icos-tarjetas-credito:before {
  content: "\b9dd";
}
.icos-tarjetas-claves:before {
  content: "\b9de";
}
.icos-tarjetas-claves-1:before {
  content: "\b9df";
}
.icos-tarjetas-2:before {
  content: "\b9e0";
}
.icos-tarjeta-4:before {
  content: "\b9e1";
}
.icos-agregar-tarjeta:before {
  content: "\b9e2";
}
.icos-tarjeta-favorita:before {
  content: "\b9e3";
}
.icos-tarjeta-segura-1:before {
  content: "\b9e4";
}
.icos-tarjeta-dormida:before {
  content: "\b9e5";
}
.icos-movimientos-tarjetas:before {
  content: "\b9e6";
}
.icos-tarjeta-visa:before {
  content: "\b9e7";
}
.icos-tarjeta-master-card:before {
  content: "\b9e8";
}
.icos-saldo-tarjeta-credito:before {
  content: "\b9e9";
}
.icos-tarjeta-credito:before {
  content: "\b9ea";
}
.icos-tarjeta-segura:before {
  content: "\b9eb";
}
.icos-tarjeta-5:before {
  content: "\b9ec";
}
.icos-tarjeta-enviar:before {
  content: "\b9ed";
}
.icos-card-tick:before {
  content: "\b9ee";
}
.icos-billetes:before {
  content: "\b9ef";
}
.icos-billetes-2:before {
  content: "\b9f0";
}
.icos-billetes-3:before {
  content: "\b9f1";
}
.icos-billete:before {
  content: "\b9f2";
}
.icos-billete-4:before {
  content: "\b9f3";
}
.icos-billete-1:before {
  content: "\b9f4";
}
.icos-billete-3:before {
  content: "\b9f5";
}
.icos-billete-2:before {
  content: "\b9f6";
}
.icos-dolar:before {
  content: "\b9f7";
}
.icos-dolares_premio-2:before {
  content: "\b9f8";
}
.icos-dolares-premio:before {
  content: "\b9f9";
}
.icos-cheque-2:before {
  content: "\b9fa";
}
.icos-cheque:before {
  content: "\b9fb";
}
.icos-cajero-automatico:before {
  content: "\b9fc";
}
.icos-cajero-automatico-3:before {
  content: "\b9fd";
}
.icos-cajero-automatico-2:before {
  content: "\b9fe";
}
.icos-inversion-bloqueo:before {
  content: "\b9ff";
}
.icos-inversion:before {
  content: "\ba00";
}
.icos-acciones:before {
  content: "\ba01";
}
.icos-fondos-mutuos:before {
  content: "\ba02";
}
.icos-billetera:before {
  content: "\ba03";
}
.icos-billetera-2:before {
  content: "\ba04";
}
.icos-billetera-check:before {
  content: "\ba05";
}
.icos-billetera-3:before {
  content: "\ba06";
}
.icos-billetera-4:before {
  content: "\ba07";
}
.icos-billetera-5:before {
  content: "\ba08";
}
.icos-billetera-6:before {
  content: "\ba09";
}
.icos-billetera-7:before {
  content: "\ba0a";
}
.icos-cerdo:before {
  content: "\ba0b";
}
.icos-alcancia-calendario:before {
  content: "\ba0c";
}
.icos-alcancia-bloqueo:before {
  content: "\ba0d";
}
.icos-alcancia-ahorro-2:before {
  content: "\ba0e";
}
.icos-alcancia-ahorro:before {
  content: "\ba0f";
}
.icos-ahorro:before {
  content: "\ba10";
}
.icos-ahorro-2:before {
  content: "\ba11";
}
.icos-monedas:before {
  content: "\ba12";
}
.icos-monedas-lote:before {
  content: "\ba13";
}
.icos-moneda-ahorro:before {
  content: "\ba14";
}
.icos-moneda-ahorro-2:before {
  content: "\ba15";
}
.icos-monedas-lote-2:before {
  content: "\ba16";
}
.icos-monedas-lote-3:before {
  content: "\ba17";
}
.icos-monedas-bloqueo:before {
  content: "\ba18";
}
.icos-monedas-valor:before {
  content: "\ba19";
}
.icos-monedas-lote-4-1:before {
  content: "\ba1a";
}
.icos-monedas-lote-4:before {
  content: "\ba1b";
}
.icos-monedas-lote-5:before {
  content: "\ba1c";
}
.icos-tasa-interes:before {
  content: "\ba1d";
}
.icos-tasa-interes-preferencial:before {
  content: "\ba1e";
}
.icos-cargo-cuenta-corriente:before {
  content: "\ba1f";
}
.icos-credito-contingencia:before {
  content: "\ba20";
}
.icos-cuenta-corriente:before {
  content: "\ba21";
}
.icos-cuenta-corriente-plan:before {
  content: "\ba22";
}
.icos-cuenta-corriente-intereses:before {
  content: "\ba23";
}
.icos-costo-cero:before {
  content: "\ba24";
}
.icos-envio-dinero:before {
  content: "\ba25";
}
.icos-factoring:before {
  content: "\ba26";
}
.icos-tasa-competitiva:before {
  content: "\ba27";
}
.icos-peso-3:before {
  content: "\ba28";
}
.icos-peso-6:before {
  content: "\ba29";
}
.icos-peso-4:before {
  content: "\ba2a";
}
.icos-peso:before {
  content: "\ba2b";
}
.icos-peso-5:before {
  content: "\ba2c";
}
.icos-peso-2:before {
  content: "\ba2d";
}
.icos-enviar-dinero:before {
  content: "\ba2e";
}
.icos-recibir-dinero:before {
  content: "\ba2f";
}
.icos-financiamiento:before {
  content: "\ba30";
}
.icos-aumento-ventas:before {
  content: "\ba31";
}
.icos-cta-vista:before {
  content: "\ba32";
}
.icos-cta-cte:before {
  content: "\ba33";
}
.icos-linea-credito:before {
  content: "\ba34";
}
.icos-master-card:before {
  content: "\ba35";
}
.icos-visa:before {
  content: "\ba36";
}
.icos-pac:before {
  content: "\ba37";
}
.icos-pat:before {
  content: "\ba38";
}
.icos-agregar-fondos:before {
  content: "\ba39";
}
.icos-fondos:before {
  content: "\ba3a";
}
.icos-retirar-fondos:before {
  content: "\ba3b";
}
.icos-sedan:before {
  content: "\ba3c";
}
.icos-camioneta:before {
  content: "\ba3d";
}
.icos-remolque:before {
  content: "\ba3e";
}
.icos-mini-bus:before {
  content: "\ba3f";
}
.icos-vespa:before {
  content: "\ba40";
}
.icos-avion:before {
  content: "\ba41";
}
.icos-avion-2:before {
  content: "\ba42";
}
.icos-avion-3:before {
  content: "\ba43";
}
.icos-awto:before {
  content: "\ba44";
}
.icos-tractor:before {
  content: "\ba45";
}
.icos-banco:before {
  content: "\ba46";
}
.icos-auto:before {
  content: "\ba47";
}
.icos-auto-2:before {
  content: "\ba48";
}
.icos-auto-4:before {
  content: "\ba49";
}
.icos-auto-3:before {
  content: "\ba4a";
}
.icos-auto-5:before {
  content: "\ba4b";
}
.icos-auto_check:before {
  content: "\ba4c";
}
.icos-auto_escudo:before {
  content: "\ba4d";
}
.icos-auto_compra:before {
  content: "\ba4e";
}
.icos-auto_cupula:before {
  content: "\ba4f";
}
.icos-ciclista:before {
  content: "\ba50";
}
.icos-bicicleta-1:before {
  content: "\ba51";
}
.icos-bicicleta-3:before {
  content: "\ba52";
}
.icos-bicicleta-2:before {
  content: "\ba53";
}
.icos-derrumbe:before {
  content: "\ba54";
}
.icos-estacionamiento:before {
  content: "\ba55";
}
.icos-accidente-auto:before {
  content: "\ba56";
}
.icos-camion-dinero:before {
  content: "\ba57";
}
.icos-camion:before {
  content: "\ba58";
}
.icos-ambulancia:before {
  content: "\ba59";
}
.icos-ambulancia-2:before {
  content: "\ba5a";
}
.icos-ambulancia-1:before {
  content: "\ba5b";
}
.icos-propiedad:before {
  content: "\ba5c";
}
.icos-casa-protegida:before {
  content: "\ba5d";
}
.icos-casa-valor:before {
  content: "\ba5e";
}
.icos-casa-terremoto:before {
  content: "\ba5f";
}
.icos-casa-calendario:before {
  content: "\ba60";
}
.icos-casa-incendio:before {
  content: "\ba61";
}
.icos-casa-elegida:before {
  content: "\ba62";
}
.icos-casa-segura:before {
  content: "\ba63";
}
.icos-casa-favorita:before {
  content: "\ba64";
}
.icos-inundacion:before {
  content: "\ba65";
}
.icos-aluvion:before {
  content: "\ba66";
}
.icos-tsunami:before {
  content: "\ba67";
}
.icos-tienda:before {
  content: "\ba68";
}
.icos-local:before {
  content: "\ba69";
}
.icos-sucursal:before {
  content: "\ba6a";
}
.icos-edificio:before {
  content: "\ba6b";
}
.icos-movimiento-bancario:before {
  content: "\ba6c";
}
.icos-casa:before {
  content: "\ba6d";
}
.icos-hogar:before {
  content: "\ba6e";
}
.icos-panteon:before {
  content: "\ba6f";
}
.icos-banco1:before {
  content: "\ba70";
}
.icos-farmacia:before {
  content: "\ba71";
}
.icos-farmacia-cruz-verde:before {
  content: "\ba72";
}
.icos-propiedad-entrega:before {
  content: "\ba73";
}
.icos-propiedad-valor:before {
  content: "\ba74";
}
.icos-propiedad-venta:before {
  content: "\ba75";
}
.icos-propiedad-nueva:before {
  content: "\ba76";
}
.icos-add-user:before {
  content: "\ba77";
}
.icos-add-user-2:before {
  content: "\ba78";
}
.icos-add-group:before {
  content: "\ba79";
}
.icos-add-group-2:before {
  content: "\ba7a";
}
.icos-usuario:before {
  content: "\ba7b";
}
.icos-usuario-2:before {
  content: "\ba7c";
}
.icos-user-formal:before {
  content: "\ba7d";
}
.icos-usuario-3:before {
  content: "\ba7e";
}
.icos-confirmar-identidad:before {
  content: "\ba7f";
}
.icos-ninos:before {
  content: "\ba80";
}
.icos-titulares:before {
  content: "\ba81";
}
.icos-titulares-2:before {
  content: "\ba82";
}
.icos-clientes:before {
  content: "\ba83";
}
.icos-clientes-2:before {
  content: "\ba84";
}
.icos-familias:before {
  content: "\ba85";
}
.icos-asegurados:before {
  content: "\ba86";
}
.icos-accidente:before {
  content: "\ba87";
}
.icos-guardia:before {
  content: "\ba88";
}
.icos-comunidad:before {
  content: "\ba89";
}
.icos-vacaciones:before {
  content: "\ba8a";
}
.icos-task:before {
  content: "\ba8b";
}
.icos-ubicacion21:before {
  content: "\ba8c";
}
.icos-ubicacion-3:before {
  content: "\ba8d";
}
.icos-ubicacion-4:before {
  content: "\ba8e";
}
.icos-ubicacion-2:before {
  content: "\ba8f";
}
.icos-ubicacion-mundo:before {
  content: "\ba90";
}
.icos-hashtag:before {
  content: "\ba91";
}
.icos-add-app:before {
  content: "\ba92";
}
.icos-pass:before {
  content: "\ba93";
}
.icos-pass-2:before {
  content: "\ba94";
}
.icos-pass-3:before {
  content: "\ba95";
}
.icos-password-check:before {
  content: "\ba96";
}
.icos-scan-codigo-barra:before {
  content: "\ba97";
}
.icos-qr:before {
  content: "\ba98";
}
.icos-scan-codigo-qr:before {
  content: "\ba99";
}
.icos-codigo-qr-2:before {
  content: "\ba9a";
}
.icos-codigo-qr:before {
  content: "\ba9b";
}
.icos-codigo-qr-3:before {
  content: "\ba9c";
}
.icos-img:before {
  content: "\ba9d";
}
.icos-font:before {
  content: "\ba9e";
}
.icos-wifi:before {
  content: "\ba9f";
}
.icos-wifi-2:before {
  content: "\baa0";
}
.icos-loading:before {
  content: "\baa1";
}
.icos-activar:before {
  content: "\baa2";
}
.icos-activar-desactivar:before {
  content: "\baa3";
}
.icos-activado:before {
  content: "\baa4";
}
.icos-desactivado:before {
  content: "\baa5";
}
.icos-shiny:before {
  content: "\baa6";
}
.icos-shiny-2:before {
  content: "\baa7";
}
.icos-estrella-line-2:before {
  content: "\baa8";
}
.icos-estrella1:before {
  content: "\baa9";
}
.icos-estrella-line:before {
  content: "\baaa";
}
.icos-estrella-line-3:before {
  content: "\baab";
}
.icos-circulo:before {
  content: "\baac";
}
.icos-circulo-2:before {
  content: "\baad";
}
.icos-circulo-3:before {
  content: "\baae";
}
.icos-smile1:before {
  content: "\baaf";
}
.icos-objetivo:before {
  content: "\bab0";
}
.icos-sad-ticket:before {
  content: "\bab1";
}
.icos-musica:before {
  content: "\bab2";
}
.icos-huella-digital-3:before {
  content: "\bab3";
}
.icos-huella-digital-2:before {
  content: "\bab4";
}
.icos-huella-digital:before {
  content: "\bab5";
}
.icos-ranking:before {
  content: "\bab6";
}
.icos-voice-control:before {
  content: "\bab7";
}
.icos-volumen:before {
  content: "\bab8";
}
.icos-escuchar:before {
  content: "\bab9";
}
.icos-escuchar-2:before {
  content: "\baba";
}
.icos-ver:before {
  content: "\babb";
}
.icos-ver-2:before {
  content: "\babc";
}
.icos-mirar:before {
  content: "\babd";
}
.icos-no-mirar:before {
  content: "\babe";
}
.icos-delete:before {
  content: "\babf";
}
.icos-superacion:before {
  content: "\bac0";
}
.icos-superacion-2:before {
  content: "\bac1";
}
.icos-crecer-inversion-2:before {
  content: "\bac2";
}
.icos-crecer-inversion:before {
  content: "\bac3";
}
.icos-cancer-piel:before {
  content: "\bac4";
}
.icos-share:before {
  content: "\bac5";
}
.icos-arroba:before {
  content: "\bac6";
}
.icos-play-circulo:before {
  content: "\bac7";
}
.icos-play:before {
  content: "\bac8";
}
.icos-pausa:before {
  content: "\bac9";
}
.icos-contraste-2:before {
  content: "\baca";
}
.icos-contraste1:before {
  content: "\bacb";
}
.icos-contraste-3:before {
  content: "\bacc";
}
.icos-restaurant:before {
  content: "\bacd";
}
.icos-porciento:before {
  content: "\bace";
}
.icos-dcto-interes:before {
  content: "\bacf";
}
.icos-dcto-interes-2:before {
  content: "\bad0";
}
.icos-cuotas-sin-interes:before {
  content: "\bad1";
}
.icos-abono-credito:before {
  content: "\bad2";
}
.icos-cuota-libre-pago:before {
  content: "\bad3";
}
.icos-web:before {
  content: "\bad4";
}
.icos-internet-satelital:before {
  content: "\bad5";
}
.icos-red:before {
  content: "\bad6";
}
.icos-moneda-extranjera:before {
  content: "\bad7";
}
.icos-ventas-web:before {
  content: "\bad8";
}
.icos-educacion-web:before {
  content: "\bad9";
}
.icos-enviar-recibir:before {
  content: "\bada";
}
.icos-transferencia:before {
  content: "\badb";
}
.icos-transferencia-mis-productos:before {
  content: "\badc";
}
.icos-bifurcacion:before {
  content: "\badd";
}
.icos-historial:before {
  content: "\bade";
}
.icos-ciclo-4:before {
  content: "\badf";
}
.icos-ciclo-2:before {
  content: "\bae0";
}
.icos-ciclo-3:before {
  content: "\bae1";
}
.icos-ciclo:before {
  content: "\bae2";
}
.icos-ciclo-dinero:before {
  content: "\bae3";
}
.icos-ciclo-user:before {
  content: "\bae4";
}
.icos-ciclo-dinero-2:before {
  content: "\bae5";
}
.icos-ciclo-time:before {
  content: "\bae6";
}
.icos-vincular:before {
  content: "\bae7";
}
.icos-grafico-rise:before {
  content: "\bae8";
}
.icos-grafico-rise-2:before {
  content: "\bae9";
}
.icos-grafico-rise-5:before {
  content: "\baea";
}
.icos-grafico-peso:before {
  content: "\baeb";
}
.icos-grafico-rise-3:before {
  content: "\baec";
}
.icos-grafico-rise-4:before {
  content: "\baed";
}
.icos-grafico-finanzas:before {
  content: "\baee";
}
.icos-grafico-torta:before {
  content: "\baef";
}
.icos-grafico-barras:before {
  content: "\baf0";
}
.icos-saldo-minimo:before {
  content: "\baf1";
}
.icos-saldo-contable:before {
  content: "\baf2";
}
.icos-maletin:before {
  content: "\baf3";
}
.icos-maletin-2:before {
  content: "\baf4";
}
.icos-maletin-trabajo:before {
  content: "\baf5";
}
.icos-maletin-trabajo-2:before {
  content: "\baf6";
}
.icos-caja-herramientas:before {
  content: "\baf7";
}
.icos-maleta-ruedas:before {
  content: "\baf8";
}
.icos-maleta-mano:before {
  content: "\baf9";
}
.icos-maletin-tiempo:before {
  content: "\bafa";
}
.icos-bolsa:before {
  content: "\bafb";
}
.icos-bolsa-2:before {
  content: "\bafc";
}
.icos-bolsa-3:before {
  content: "\bafd";
}
.icos-bolsa-5:before {
  content: "\bafe";
}
.icos-bolsa-6:before {
  content: "\baff";
}
.icos-bolsa-4:before {
  content: "\bb00";
}
.icos-caja-1:before {
  content: "\bb01";
}
.icos-caja-2:before {
  content: "\bb02";
}
.icos-regalo-3:before {
  content: "\bb03";
}
.icos-regalo-1:before {
  content: "\bb04";
}
.icos-regalo-2:before {
  content: "\bb05";
}
.icos-sobre-3:before {
  content: "\bb06";
}
.icos-sobre-2:before {
  content: "\bb07";
}
.icos-sobre-4:before {
  content: "\bb08";
}
.icos-sobre:before {
  content: "\bb09";
}
.icos-sad-lupa:before {
  content: "\bb0a";
}
.icos-lupa:before {
  content: "\bb0b";
}
.icos-lupa-2:before {
  content: "\bb0c";
}
.icos-lupa-4:before {
  content: "\bb0d";
}
.icos-lupa-3:before {
  content: "\bb0e";
}
.icos-lupa-ok:before {
  content: "\bb0f";
}
.icos-lupa-parrafo:before {
  content: "\bb10";
}
.icos-candado-3:before {
  content: "\bb11";
}
.icos-candado:before {
  content: "\bb12";
}
.icos-candado-2:before {
  content: "\bb13";
}
.icos-seguro-desgravamen:before {
  content: "\bb14";
}
.icos-llave:before {
  content: "\bb15";
}
.icos-graduacion:before {
  content: "\bb16";
}
.icos-graduacion-2:before {
  content: "\bb17";
}
.icos-graduacion-3:before {
  content: "\bb18";
}
.icos-megafono:before {
  content: "\bb19";
}
.icos-megafono-2:before {
  content: "\bb1a";
}
.icos-cronometro:before {
  content: "\bb1b";
}
.icos-reloj-4:before {
  content: "\bb1c";
}
.icos-reloj-3:before {
  content: "\bb1d";
}
.icos-reloj-2:before {
  content: "\bb1e";
}
.icos-reloj:before {
  content: "\bb1f";
}
.icos-tiempo:before {
  content: "\bb20";
}
.icos-tiempo-oro:before {
  content: "\bb21";
}
.icos-cubiertos:before {
  content: "\bb22";
}
.icos-cubiertos-2:before {
  content: "\bb23";
}
.icos-cubiertos-3:before {
  content: "\bb24";
}
.icos-bowl:before {
  content: "\bb25";
}
.icos-telefono-2:before {
  content: "\bb26";
}
.icos-telefono:before {
  content: "\bb27";
}
.icos-telefono-3:before {
  content: "\bb28";
}
.icos-telefono-6:before {
  content: "\bb29";
}
.icos-telefono-5:before {
  content: "\bb2a";
}
.icos-telefono-4:before {
  content: "\bb2b";
}
.icos-telefono-7:before {
  content: "\bb2c";
}
.icos-telefono-8:before {
  content: "\bb2d";
}
.icos-headset:before {
  content: "\bb2e";
}
.icos-call-center1:before {
  content: "\bb2f";
}
.icos-ampolleta:before {
  content: "\bb30";
}
.icos-idea:before {
  content: "\bb31";
}
.icos-ampolleta-2:before {
  content: "\bb32";
}
.icos-ampolleta-3:before {
  content: "\bb33";
}
.icos-idea-2:before {
  content: "\bb34";
}
.icos-idea-dinero:before {
  content: "\bb35";
}
.icos-etiqueta:before {
  content: "\bb36";
}
.icos-etiqueta-dcto-2:before {
  content: "\bb37";
}
.icos-etiqueta-dcto-3:before {
  content: "\bb38";
}
.icos-etiqueta-dcto:before {
  content: "\bb39";
}
.icos-etiqueta-corazon:before {
  content: "\bb3a";
}
.icos-calendario-pago:before {
  content: "\bb3b";
}
.icos-calendario-ok:before {
  content: "\bb3c";
}
.icos-renovacion-automatica:before {
  content: "\bb3d";
}
.icos-plazo-fijo:before {
  content: "\bb3e";
}
.icos-calendario:before {
  content: "\bb3f";
}
.icos-mes-gracia:before {
  content: "\bb40";
}
.icos-mes-plazo:before {
  content: "\bb41";
}
.icos-alternativas-plazo:before {
  content: "\bb42";
}
.icos-calendario-ok-2:before {
  content: "\bb43";
}
.icos-calendario-2:before {
  content: "\bb44";
}
.icos-calendario-3:before {
  content: "\bb45";
}
.icos-calendario-ok-3:before {
  content: "\bb46";
}
.icos-calendario-pago-2:before {
  content: "\bb47";
}
.icos-calendario-5:before {
  content: "\bb48";
}
.icos-calendario-4:before {
  content: "\bb49";
}
.icos-ajustes:before {
  content: "\bb4a";
}
.icos-gasfiteria:before {
  content: "\bb4b";
}
.icos-herramienta-2:before {
  content: "\bb4c";
}
.icos-herramienta:before {
  content: "\bb4d";
}
.icos-herramientas:before {
  content: "\bb4e";
}
.icos-alarma-line:before {
  content: "\bb4f";
}
.icos-alarma:before {
  content: "\bb50";
}
.icos-paraguas:before {
  content: "\bb51";
}
.icos-paraguas-2:before {
  content: "\bb52";
}
.icos-carro-compra-2:before {
  content: "\bb53";
}
.icos-carro-compra:before {
  content: "\bb54";
}
.icos-firma:before {
  content: "\bb55";
}
.icos-lapiz:before {
  content: "\bb56";
}
.icos-gas-2:before {
  content: "\bb57";
}
.icos-gas:before {
  content: "\bb58";
}
.icos-agenda-telefonica-2:before {
  content: "\bb59";
}
.icos-agenda-telefonica:before {
  content: "\bb5a";
}
.icos-cajero-automatico1:before {
  content: "\bb5b";
}
.icos-autopistas:before {
  content: "\bb5c";
}
.icos-rueda-pinchada:before {
  content: "\bb5d";
}
.icos-volante:before {
  content: "\bb5e";
}
.icos-bandera:before {
  content: "\bb5f";
}
.icos-espejo-belleza:before {
  content: "\bb60";
}
.icos-saco:before {
  content: "\bb61";
}
.icos-varita-magica:before {
  content: "\bb62";
}
.icos-oro:before {
  content: "\bb63";
}
.icos-mapa:before {
  content: "\bb64";
}
.icos-vestido-largo:before {
  content: "\bb65";
}
.icos-colgador:before {
  content: "\bb66";
}
.icos-labial:before {
  content: "\bb67";
}
.icos-calzado:before {
  content: "\bb68";
}
.icos-combustible:before {
  content: "\bb69";
}
.icos-construccion:before {
  content: "\bb6a";
}
.icos-panoramas:before {
  content: "\bb6b";
}
.icos-pelota:before {
  content: "\bb6c";
}
.icos-guitarra:before {
  content: "\bb6d";
}
.icos-guitarra-2:before {
  content: "\bb6e";
}
.icos-satelite:before {
  content: "\bb6f";
}
.icos-banderin:before {
  content: "\bb70";
}
.icos-mouse-scroll:before {
  content: "\bb71";
}
.icos-credencial:before {
  content: "\bb72";
}
.icos-robot-platon:before {
  content: "\bb73";
}
.icos-panel-solar:before {
  content: "\bb74";
}
.icos-meson:before {
  content: "\bb75";
}
.icos-medalla:before {
  content: "\bb76";
}
.icos-ticket-boleto:before {
  content: "\bb77";
}
.icos-campana:before {
  content: "\bb78";
}
.icos-cajon:before {
  content: "\bb79";
}
.icos-basurero:before {
  content: "\bb7a";
}
.icos-caje:before {
  content: "\bb7b";
}
.icos-clip:before {
  content: "\bb7c";
}
.icos-phone-bloqueo:before {
  content: "\bb7d";
}
.icos-phone-touch:before {
  content: "\bb7e";
}
.icos-phone-transferir:before {
  content: "\bb7f";
}
.icos-phone-scan-qr:before {
  content: "\bb80";
}
.icos-phone-scan-id:before {
  content: "\bb81";
}
.icos-phone-email:before {
  content: "\bb82";
}
.icos-phone-check:before {
  content: "\bb83";
}
.icos-phone-checklist:before {
  content: "\bb84";
}
.icos-phone-bank-seguro:before {
  content: "\bb85";
}
.icos-phone-desk-app:before {
  content: "\bb86";
}
.icos-smartphone:before {
  content: "\bb87";
}
.icos-smartphone-2:before {
  content: "\bb88";
}
.icos-smartphone-cloud:before {
  content: "\bb89";
}
.icos-celular-check:before {
  content: "\bb8a";
}
.icos-smartphone-3:before {
  content: "\bb8b";
}
.icos-smartphone-4:before {
  content: "\bb8c";
}
.icos-smartphone-5:before {
  content: "\bb8d";
}
.icos-smartphone-6:before {
  content: "\bb8e";
}
.icos-smartphone-cta:before {
  content: "\bb8f";
}
.icos-smartphone-cta-2:before {
  content: "\bb90";
}
.icos-smartphone-faq:before {
  content: "\bb91";
}
.icos-smartphone-comprobante:before {
  content: "\bb92";
}
.icos-smartwatch:before {
  content: "\bb93";
}
.icos-smartwatch-datos:before {
  content: "\bb94";
}
.icos-procesador:before {
  content: "\bb95";
}
.icos-cable-link:before {
  content: "\bb96";
}
.icos-f5-exitoso:before {
  content: "\bb97";
}
.icos-brouser:before {
  content: "\bb98";
}
.icos-sitio-banco:before {
  content: "\bb99";
}
.icos-sitio-web:before {
  content: "\bb9a";
}
.icos-imac:before {
  content: "\bb9b";
}
.icos-tv-2:before {
  content: "\bb9c";
}
.icos-tv:before {
  content: "\bb9d";
}
.icos-televisor-plano:before {
  content: "\bb9e";
}
.icos-laptop-3:before {
  content: "\bb9f";
}
.icos-laptop:before {
  content: "\bba0";
}
.icos-laptop-2:before {
  content: "\bba1";
}
.icos-monitor:before {
  content: "\bba2";
}
.icos-documento:before {
  content: "\bba3";
}
.icos-documento-2:before {
  content: "\bba4";
}
.icos-pagina:before {
  content: "\bba5";
}
.icos-hoja:before {
  content: "\bba6";
}
.icos-carta:before {
  content: "\bba7";
}
.icos-carta-aprobada:before {
  content: "\bba8";
}
.icos-cartola-2:before {
  content: "\bba9";
}
.icos-cartola:before {
  content: "\bbaa";
}
.icos-pdf-3:before {
  content: "\bbab";
}
.icos-pdf:before {
  content: "\bbac";
}
.icos-documento-check:before {
  content: "\bbad";
}
.icos-condiciones:before {
  content: "\bbae";
}
.icos-documento-firma-3:before {
  content: "\bbaf";
}
.icos-comprobante-3:before {
  content: "\bbb0";
}
.icos-comprobante-2:before {
  content: "\bbb1";
}
.icos-comprobante:before {
  content: "\bbb2";
}
.icos-historial-compras:before {
  content: "\bbb3";
}
.icos-cartola-historial:before {
  content: "\bbb4";
}
.icos-diploma:before {
  content: "\bbb5";
}
.icos-antecedentes:before {
  content: "\bbb6";
}
.icos-pagos-masivos:before {
  content: "\bbb7";
}
.icos-papers:before {
  content: "\bbb8";
}
.icos-informes-personal:before {
  content: "\bbb9";
}
.icos-hojas:before {
  content: "\bbba";
}
.icos-datos:before {
  content: "\bbbb";
}
.icos-documento-firma:before {
  content: "\bbbc";
}
.icos-documento-firma-2:before {
  content: "\bbbd";
}
.icos-check-list:before {
  content: "\bbbe";
}
.icos-formulario:before {
  content: "\bbbf";
}
.icos-pdf-2:before {
  content: "\bbc0";
}
.icos-pdf-line:before {
  content: "\bbc1";
}
.icos-pdf-strong:before {
  content: "\bbc2";
}
.icos-cedula:before {
  content: "\bbc3";
}
.icos-carnet-validar:before {
  content: "\bbc4";
}
.icos-carnet:before {
  content: "\bbc5";
}
.icos-security-safe:before {
  content: "\bbc6";
}
.icos-security-user:before {
  content: "\bbc7";
}
.icos-escudo:before {
  content: "\bbc8";
}
.icos-escudo-check-4:before {
  content: "\bbc9";
}
.icos-escudo-check-7:before {
  content: "\bbca";
}
.icos-escudo-check-9:before {
  content: "\bbcb";
}
.icos-escudo-check-6:before {
  content: "\bbcc";
}
.icos-escudo-check-8:before {
  content: "\bbcd";
}
.icos-escudo-check-3:before {
  content: "\bbce";
}
.icos-escudo-check-5:before {
  content: "\bbcf";
}
.icos-escudo-check-2:before {
  content: "\bbd0";
}
.icos-escudo-check:before {
  content: "\bbd1";
}
.icos-escudo-check-13:before {
  content: "\bbd2";
}
.icos-seguro-salud:before {
  content: "\bbd3";
}
.icos-escudo-alerta:before {
  content: "\bbd4";
}
.icos-seguro-agricola:before {
  content: "\bbd5";
}
.icos-seguro-persona:before {
  content: "\bbd6";
}
.icos-seguro-tarjeta:before {
  content: "\bbd7";
}
.icos-escudo-check-10:before {
  content: "\bbd8";
}
.icos-escudo-check-12:before {
  content: "\bbd9";
}
.icos-escudo-check-11:before {
  content: "\bbda";
}
.icos-semilla:before {
  content: "\bbdb";
}
.icos-semilla-brote:before {
  content: "\bbdc";
}
.icos-planta-maceta:before {
  content: "\bbdd";
}
.icos-planta:before {
  content: "\bbde";
}
.icos-arbol:before {
  content: "\bbdf";
}
.icos-bosque:before {
  content: "\bbe0";
}
.icos-mundo-verde:before {
  content: "\bbe1";
}
.icos-flor:before {
  content: "\bbe2";
}
.icos-agua-1:before {
  content: "\bbe3";
}
.icos-agua:before {
  content: "\bbe4";
}
.icos-fuego-2:before {
  content: "\bbe5";
}
.icos-fuego:before {
  content: "\bbe6";
}
.icos-moscas:before {
  content: "\bbe7";
}
.icos-volcan:before {
  content: "\bbe8";
}
.icos-huevos:before {
  content: "\bbe9";
}
.icos-manzana:before {
  content: "\bbea";
}
.icos-mascarilla:before {
  content: "\bbeb";
}
.icos-covid19:before {
  content: "\bbec";
}
.icos-invalidez:before {
  content: "\bbed";
}
.icos-pulso:before {
  content: "\bbee";
}
.icos-estetoscopio:before {
  content: "\bbef";
}
.icos-cancer1-2:before {
  content: "\bbf0";
}
.icos-cancer:before {
  content: "\bbf1";
}
.icos-tumba:before {
  content: "\bbf2";
}
.icos-cementerio:before {
  content: "\bbf3";
}
.icos-botiquin:before {
  content: "\bbf4";
}
.icos-cruz-2:before {
  content: "\bbf5";
}
.icos-cruz:before {
  content: "\bbf6";
}
.icos-vida:before {
  content: "\bbf7";
}
.icos-salud:before {
  content: "\bbf8";
}
.icos-diagnostico:before {
  content: "\bbf9";
}
.icos-love:before {
  content: "\bbfa";
}
.icos-corazon:before {
  content: "\bbfb";
}
.icos-medicamentos:before {
  content: "\bbfc";
}
.icos-seguro-pet:before {
  content: "\bbfd";
}
.icos-circle-ok:before {
  content: "\bbfe";
}
.icos-circle-no:before {
  content: "\bbff";
}
.icos-circle-ok3:before {
  content: "\bc00";
}
.icos-circle-no3:before {
  content: "\bc01";
}
.icos-circle-ok2:before {
  content: "\bc02";
}
.icos-circle-no2:before {
  content: "\bc03";
}
.icos-circle-ok-line:before {
  content: "\bc04";
}
.icos-circle-no-line:before {
  content: "\bc05";
}
.icos-circle-less-line:before {
  content: "\bc06";
}
.icos-circle-plus-line:before {
  content: "\bc07";
}
.icos-circle-ok-solid:before {
  content: "\bc08";
}
.icos-circle-no-solid:before {
  content: "\bc09";
}
.icos-circle-less-solid:before {
  content: "\bc0a";
}
.icos-circle-plus-solid:before {
  content: "\bc0b";
}
.icos-ok-plane:before {
  content: "\bc0c";
}
.icos-no-sign:before {
  content: "\bc0d";
}
.icos-less-sign:before {
  content: "\bc0e";
}
.icos-plus-sign:before {
  content: "\bc0f";
}
.icos-ok-sign-light:before {
  content: "\bc10";
}
.icos-no-sign-light:before {
  content: "\bc11";
}
.icos-less-sign-light:before {
  content: "\bc12";
}
.icos-plus-sign-light:before {
  content: "\bc13";
}
.icos-ok-sign:before {
  content: "\bc14";
}
.icos-no-plane:before {
  content: "\bc15";
}
.icos-check:before {
  content: "\bc16";
}
.icos-check-square:before {
  content: "\bc17";
}
.icos-check-solid:before {
  content: "\bc18";
}
.icos-garantia-solid:before {
  content: "\bc19";
}
.icos-garantia:before {
  content: "\bc1a";
}
.icos-check-wave:before {
  content: "\bc1b";
}
.icos-info:before {
  content: "\bc1c";
}
.icos-info-importante:before {
  content: "\bc1d";
}
.icos-info-light:before {
  content: "\bc1e";
}
.icos-alerta:before {
  content: "\bc1f";
}
.icos-alerta-2:before {
  content: "\bc20";
}
.icos-problemas:before {
  content: "\bc21";
}
.icos-ayuda:before {
  content: "\bc22";
}
.icos-question-3:before {
  content: "\bc23";
}
.icos-question:before {
  content: "\bc24";
}
.icos-question-2:before {
  content: "\bc25";
}
.icos-flecha-arriba-line:before {
  content: "\bc26";
}
.icos-flecha-abajo-line:before {
  content: "\bc27";
}
.icos-flecha-izquierda-line:before {
  content: "\bc28";
}
.icos-flecha-derecha-line:before {
  content: "\bc29";
}
.icos-up-line-2:before {
  content: "\bc2a";
}
.icos-down-line-2:before {
  content: "\bc2b";
}
.icos-left-line-2:before {
  content: "\bc2c";
}
.icos-right-line-2:before {
  content: "\bc2d";
}
.icos-line-circle-up:before {
  content: "\bc2e";
}
.icos-line-circle-down:before {
  content: "\bc2f";
}
.icos-line-circle-left:before {
  content: "\bc30";
}
.icos-line-circle-right:before {
  content: "\bc31";
}
.icos-flecha-arriba:before {
  content: "\bc32";
}
.icos-flecha-abajo:before {
  content: "\bc33";
}
.icos-flecha-izquierda:before {
  content: "\bc34";
}
.icos-flecha-derecha:before {
  content: "\bc35";
}
.icos-up-line:before {
  content: "\bc36";
}
.icos-down-line:before {
  content: "\bc37";
}
.icos-left-line:before {
  content: "\bc38";
}
.icos-right-line:before {
  content: "\bc39";
}
.icos-arrow-circle-up:before {
  content: "\bc3a";
}
.icos-arrow-circle-down:before {
  content: "\bc3b";
}
.icos-arrow-circle-left:before {
  content: "\bc3c";
}
.icos-arrow-circle-right:before {
  content: "\bc3d";
}
.icos-arrow-up-3-1:before {
  content: "\bc3e";
}
.icos-arrow-down-3-2:before {
  content: "\bc3f";
}
.icos-arrow-left-3-2:before {
  content: "\bc40";
}
.icos-arrow-right-3-2:before {
  content: "\bc41";
}
.icos-up-line-3:before {
  content: "\bc42";
}
.icos-down-line-3:before {
  content: "\bc43";
}
.icos-left-line-3:before {
  content: "\bc44";
}
.icos-right-line-3:before {
  content: "\bc45";
}
.icos-up-strong:before {
  content: "\bc46";
}
.icos-down-strong:before {
  content: "\bc47";
}
.icos-left-strong:before {
  content: "\bc48";
}
.icos-right-strong:before {
  content: "\bc49";
}
.icos-flecha-arriba-2:before {
  content: "\bc4a";
}
.icos-flecha-abajo-2:before {
  content: "\bc4b";
}
.icos-flecha-izquierda-2:before {
  content: "\bc4c";
}
.icos-flecha-derecha-2:before {
  content: "\bc4d";
}
.icos-arrow-up-3-2:before {
  content: "\bc4e";
}
.icos-arrow-down-3:before {
  content: "\bc4f";
}
.icos-arrow-left-3:before {
  content: "\bc50";
}
.icos-arrow-right-3:before {
  content: "\bc51";
}
.icos-up-strong-2:before {
  content: "\bc52";
}
.icos-down-strong-2:before {
  content: "\bc53";
}
.icos-left-strong-2:before {
  content: "\bc54";
}
.icos-right-strong-2:before {
  content: "\bc55";
}
.icos-arrow-up-3:before {
  content: "\bc56";
}
.icos-arrow-down-3-1:before {
  content: "\bc57";
}
.icos-arrow-left-3-1:before {
  content: "\bc58";
}
.icos-arrow-right-3-1:before {
  content: "\bc59";
}
.icos-arrow-up-2:before {
  content: "\bc5a";
}
.icos-arrow-down-2:before {
  content: "\bc5b";
}
.icos-arrow-left-2:before {
  content: "\bc5c";
}
.icos-arrow-right-2:before {
  content: "\bc5d";
}
.icos-arrow-up:before {
  content: "\bc5e";
}
.icos-arrow-down:before {
  content: "\bc5f";
}
.icos-arrow-left:before {
  content: "\bc60";
}
.icos-arrow-right:before {
  content: "\bc61";
}
.icos-puntos-horizontal:before {
  content: "\bc62";
}
.icos-puntos-vertical:before {
  content: "\bc63";
}
.icos-menu-hamburguesa-2:before {
  content: "\bc64";
}
.icos-menu-hamburguesa:before {
  content: "\bc65";
}
.icos-menu-hamburguesa-6:before {
  content: "\bc66";
}
.icos-menu-hamburguesa-4:before {
  content: "\bc67";
}
.icos-menu-hamburguesa-3:before {
  content: "\bc68";
}
.icos-menu-hamburguesa-5:before {
  content: "\bc69";
}
.icos-menu-aplicaciones:before {
  content: "\bc6a";
}
.icos-logo-bch:before {
  content: "\bc6b";
}
.icos-logo-edw:before {
  content: "\bc6c";
}
.icos-b-tv:before {
  content: "\bc6d";
}
.icos-app:before {
  content: "\bc6e";
}
.icos-mi-seguro:before {
  content: "\bc6f";
}
.icos-mi-pass-1:before {
  content: "\bc70";
}
.icos-mi-pago:before {
  content: "\bc71";
}
.icos-mi-inversion:before {
  content: "\bc72";
}
.icos-mi-banco:before {
  content: "\bc73";
}
.icos-mi-pass:before {
  content: "\bc74";
}
.icos-escudo-chileno:before {
  content: "\bc75";
}
.icos-entel:before {
  content: "\bc76";
}
.icos-apple:before {
  content: "\bc77";
}
.icos-fan:before {
  content: "\bc78";
}
.icos-hazte-fan:before {
  content: "\bc79";
}
.icos-banco-de-chile:before {
  content: "\bc7a";
}
.icos-banco-edwards:before {
  content: "\bc7b";
}
.icos-banco-edwards-2:before {
  content: "\bc7c";
}
.icos-banco-credichile:before {
  content: "\bc7d";
}
.icos-banchile-inversiones:before {
  content: "\bc7e";
}
.icos-app-store:before {
  content: "\bc7f";
}
.icos-visa1:before {
  content: "\bc80";
}
.icos-apple-pay:before {
  content: "\bc81";
}
.icos-facebook:before {
  content: "\bc82";
}
.icos-twitter:before {
  content: "\bc83";
}
.icos-instagram:before {
  content: "\bc84";
}
.icos-youtube:before {
  content: "\bc85";
}
.icos-facebook1:before {
  content: "\bc86";
}
.icos-twitter1:before {
  content: "\bc87";
}
.icos-instagram1:before {
  content: "\bc88";
}
.icos-youtube1:before {
  content: "\bc89";
}
.icos-twitter-line:before {
  content: "\bc8a";
}
.icos-facebook-line:before {
  content: "\bc8b";
}
.icos-youtube-solid:before {
  content: "\bc8c";
}
